# =========================
# DADOS SENSÍVEIS
# =========================
data/raw/

# =========================
# CACHES
# =========================
.ipynb_checkpoints/
__pycache__/

# =========================
# ARQUIVOS DO SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# ARQUIVOS TEMPORÁRIOS
# =========================
*.tmp
